/* h1 및 h2 스타일 설정 */
h1, h2 {
    color: blue;
    padding: 10px;
    
}

/* 입력 필드와 텍스트 영역 스타일 */
input[type="text"], textarea {
    width: 300px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: blue;
    color: white;
}

input[type="submit"]:hover {
    background-color: darkblue;
}
